{% extends 'admin.html.twig' %}

{% block body %}
    {% set csrfTokenMedia = csrf_token('media') %}

    <section class="content-header">
        <h1>
            {{ 'admin.posts.edit_post'|trans }}
        </h1>
        <ol class="breadcrumb">
            <li><a href="{{ path('admin_pages_index') }}"><i class="fa fa-home"></i> {{ 'admin.index'|trans }}</a></li>
            <li><a href="{{ path('admin_post_index') }}">{{ 'admin.posts'|trans }}</a></li>
            <li class="active">{{ 'admin.action.edit'|trans }}</li>
        </ol>
    </section>

    {% set images = [] %}
    {% for media in medias %}
        {% set images = images|merge({
        }) %}
    {% endfor %}

    {% set postComponent = register_component('post', {
        csrfTokenMedia: csrfTokenMedia,
        medias: medias
    }) %}

    <!-- Main content -->
    <section id="{{ postComponent }}" class="content">
        <div class="row">
            <div class="col-md-9">
                {{ form_start(postForm) }}
                    <div class="box box-primary">
                        <div class="box-header with-border">
                            <h3 class="box-title">Template</h3>
                        </div>

                        <div class="box-body">
                            <div class="row">
                                <div class="col-md-4">
                                    {{ form_row(postForm.template, {'attr': {'class': 'select-readonly'}}) }}
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="box box-primary">
                        <div class="box-header with-border">
                            <h3 class="box-title">{{ 'app.general.basic_information'|trans }}</h3>
                        </div>

                        <div class="box-body">
                            <div class="row">
                                {# By Gallery, will appear gallery selected. #}
                                {% if 'gallery' == postForm.vars.data.template.slug %}
                                    <div class="col-md-12 post-gallery-content js-post-gallery-content is-show">
                                        <button type="button"
                                                class="btn btn-primary js-post-gallery-add"
                                                data-toggle="modal"
                                                data-target=".js-modal-post-gallery">
                                            <i class="fa fa-picture-o"></i> {{ 'admin.posts.form.button.add_images_to_gallery'|trans }}
                                        </button>

                                        <div class="row post-gallery-images-selected js-post-gallery-images-selected">
                                            <div class="col-sm-6 col-md-3 post-gallery-images-selected-file is-copy js-post-gallery-images-selected-file"
                                                 data-media-id="">
                                                <div class="thumbnail">
                                                    <img src="https://dummyimage.com/600x400/d1d1d1/ffffff"
                                                         alt="..."
                                                         class="img-responsive js-post-gallery-images-selected-file-img"/>

                                                    <div class="caption">
                                                        <p>
                                                            <button type="button"
                                                                    class="btn btn-danger btn-xs js-post-gallery-images-selected-file-delete">
                                                                <i class="fa fa-trash"></i> {{ 'admin.action.delete'|trans }}
                                                            </button>
                                                        </p>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                        {{ form_row(postForm.images, {'attr': {'class': 'js-input-gallery-images'}}) }}
                                    </div>
                                {% endif %}

                                <div class="col-md-12">
                                    {{ form_row(postForm.active) }}
                                </div>

                                <div class="col-md-12">
                                    {{ form_row(postForm.title) }}
                                </div>

                                <div class="col-md-12">
                                    {{ form_row(postForm.description) }}
                                </div>

                                <div class="col-md-12">
                                    {{ form_row(postForm.text) }}
                                </div>

                                <div class="col-md-12">
                                    {{ form_row(postForm.imageFile) }}
                                </div>

                                <div class="col-md-12">
                                    {{ form_row(postForm.categories) }}
                                </div>

                                <div class="col-md-6">
                                    {{ form_row(postForm.user) }}
                                </div>

                                <div class="col-md-12">
                                    {{ form_row(postForm.published) }}
                                </div>
                            </div>
                        </div>

                        <div class="box-footer">
                            <button type="submit" class="btn btn-primary">{{ 'admin.posts.form.button.save_post'|trans }}</button>
                        </div>
                    </div>
                {{ form_end(postForm) }}
            </div>

            <div class="col-md-3">
                <div class="box box-primary">
                    <div class="box-header with-border">
                        <h3 class="box-title">{{ 'app.general.image'|trans }}</h3>
                    </div>

                    <div class="box-body">
                        {% if postForm.vars.data.urlPhoto is not empty %}
                        <img src="{{ asset(postForm.vars.data.urlPhoto)|imagine_filter('300x300') }}"
                             class="img-responsive"
                             alt="">
                        {% endif %}
                    </div>
                </div>
                <!-- /.box -->
            </div>
        </div>
        <!-- /.row -->

        {% include 'includes/admin/modal-post-gallery.html.twig' %}
    </section>
    <!-- /.content -->
{% endblock %}

{% block scripts %}
    {%- include "includes/admin/scripts/ckeditor.html.twig" with {'ids': ['post_text']} only %}
{% endblock %}