{% set headingClass = 'page-heading' %}
{% set mainClass = '' %}

{% if 'gallery' == type|default() %}
    {% set headingClass = 'post-heading' %}
{% endif %}

{% if 'pages_homepage' == app.request.attributes.get("_route") %}
    {% set mainClass = ' d-none d-md-block' %}
{% endif %}

<header class="masthead{{ mainClass }}">
    <div class="masthead-image-wrapper">
        <img id="{{ register_component('parallax') }}"
             data-src="{{ asset(image|default('images/bg-index.jpg')|imagine_filter('1440x800')) }}"
             alt=""
             class="lazy"/>
    </div>

  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-10 mx-auto">
        <div class="{{ headingClass }}">
          <h1>{{ title|default('Blog Personal') }}</h1>
          <!--Uma descricao basica da pagina
          <span class="subheading">Uma descricao basica da pagina</span-->
        </div>
      </div>
    </div>
  </div>
</header>
