{% extends 'admin.html.twig' %}

{% block body %}
    <section class="content-header">
        <h1>
            {{ 'admin.homepage'|trans }}
        </h1>

        <ol class="breadcrumb">
            <li class="active">{{ 'admin.homepage'|trans }}</li>
        </ol>
    </section>

    <section class="content">
        <div class="row">
            <div class="col-xs-12">
                {{ form_start(homepageForm) }}

                <div class="box box-primary">
                    <div class="box-header with-border">
                        <h3 class="box-title">
                            Sidebar about me
                        </h3>
                    </div>

                    <div class="box-body">
                        <div class="row">
                            <div class="col-md-6">
                                {{ form_row(homepageForm.sidebar_about_me_active) }}
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                {{ form_row(homepageForm.sidebar_about_me_text) }}
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-6">
                                {{ form_row(homepageForm.sidebar_about_me_url_facebook) }}
                            </div>

                            <div class="col-md-6">
                                {{ form_row(homepageForm.sidebar_about_me_url_instagram) }}
                            </div>

                            <div class="col-md-6">
                                {{ form_row(homepageForm.sidebar_about_me_url_youtube) }}
                            </div>

                            <div class="col-md-6">
                                {{ form_row(homepageForm.sidebar_about_me_url_linkedin) }}
                            </div>

                            <div class="col-md-6">
                                {{ form_row(homepageForm.sidebar_about_me_url_github) }}
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-6">
                                {{ form_row(homepageForm.sidebar_about_me_photo_file) }}
                            </div>
                        </div>

                        {% if homepageForm.vars.data.sidebarAboutMePhoto is not empty %}
                            <div class="row">
                                <div class="col-md-6">
                                    <img src="{{ asset(homepageForm.vars.data.sidebarAboutMePhoto)|imagine_filter('300x300') }}"
                                         class="img-responsive img-circle"
                                         alt="">
                                </div>
                            </div>
                        {% endif %}
                    </div>
                </div>

                <div class="box box-primary">
                    <div class="box-header with-border">
                        <h3 class="box-title">
                            {{ 'app.general.basic_information'|trans }}
                        </h3>
                    </div>

                    <div class="box-body">
                        <div class="row">
                            <div class="col-md-2">
                                {{ form_row(homepageForm.limit_highlights) }}
                            </div>

                            <div class="col-md-6">
                                {{ form_row(homepageForm.limit_highlights) }}
                            </div>
                        </div>
                    </div>

                    <div class="box-footer">
                        <button type="submit" class="btn btn-primary">
                            {{ 'admin.homepage.form.button.save_settings'|trans }}
                        </button>
                    </div>
                </div>

                {{ form_end(homepageForm) }}
            </div>
        </div>
    </section>
{% endblock %}
