{% extends 'base.html.twig' %}

{% block body %}
    {% set liipImagineGallery = [
        'gallery_600x600',
        'gallery_600x350',
        'gallery_600x800'
    ] %}

    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-md-12 mx-auto">
                <article class="gallery-detail">
                    <header>
                        {% if post.title is not empty %}
                            <h1 class="gallery-detail-title">{{ post.title }}</h1>
                        {% endif %}
                        <div class="media author mb-4">
                            {% if post.user.urlAvatar is not empty %}
                                <img src="{{ asset(post.user.urlAvatar)|imagine_filter('50x50') }}"
                                     class="mr-3 author-photo rounded-circle"
                                     alt="{{ post.user.fullname }}">
                            {% endif %}

                            <div class="media-body">
                                <h5 class="mt-2 mb-1 author-fullname">{{ post.user.fullname }}</h5>

                                {% include 'includes/published.html.twig' with {published: post.published} only %}
                            </div>
                        </div>
                    </header>

                    <div class="text">
                        {% if post.text is not empty %}
                            {{ post.text|raw }}
                        {% endif %}
                    </div>
                </article>
            </div>
        </div>
    </div>

    {% if 0 < post.mediaPostRel.count %}
        <div class="container-fluid">
            <div id="{{ register_component('gallery') }}" class="gallery-photos col-lg-10 mx-auto">
                <div class="js-gallery-photos-inner row">
                    {% for mediaPost in post.mediaPostRel %}
                        <div class="col-xs-6 col-sm-6 col-md-4 col-lg-3 gallery-item js-gallery-photo-item">
                            <div class="gallery-photos-img-wrapper">
                                <a href="{{ asset(mediaPost.media.file)|imagine_filter('gallery_post_full') }}"
                                   data-lightbox="gallery-post"
                                   data-title="{{ post.title }}">

                                    <img src="{{ asset(mediaPost.media.file)|imagine_filter(liipImagineGallery[random(2)]) }}"
                                         alt=""
                                         class="img-fluid gallery-photos-img">
                                </a>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    {% endif %}

    {% if setting().showCommentsFacebook %}
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-md-12 mx-auto">
                    {% include 'includes/comments-facebook.html.twig' %}
                </div>
            </div>
        </div>
    {% endif %}

    {% include 'includes/see-more-posts.html.twig' with {posts: posts} only %}
{% endblock %}
