{% extends 'base.html.twig' %}

{% block body %}
    {% set showFBComments = setting().showCommentsFacebook %}

    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-md-12 mx-auto">
                <article class="gallery-detail">
                    <header>
                        {% if post.title is not empty %}
                            <h1 class="gallery-detail-title">{{ post.title }}</h1>
                        {% endif %}
                        <div class="media author mb-4">
                            {% if post.user.urlAvatar is not empty %}
                                <img src="{{ asset(post.user.urlAvatar)|imagine_filter('50x50') }}"
                                     class="mr-3 author-photo rounded-circle"
                                     alt="{{ post.user.fullname }}">
                            {% endif %}

                            <div class="media-body">
                                <h5 class="mt-2 mb-1 author-fullname">{{ post.user.fullname }}</h5>

                                {% include 'includes/published.html.twig' with {
                                    published: post.published
                                } only %}
                            </div>
                        </div>
                    </header>

                    <div class="text">
                        {% if post.text is not empty %}
                            {{ post.text|raw }}
                        {% endif %}
                    </div>
                </article>
            </div>
        </div>
    </div>

    {% if 0 < post.mediaPostRel.count %}
        {# Gallery preview photos list. #}
        <div class="container-fluid">
            <div id="{{ register_component('gallery', {showFBComments: showFBComments }) }}" class="gallery-photos col-lg-10 mx-auto">
                <div class="js-gallery-photos-inner row">
                    {% for mediaPost in post.mediaPostRel %}
                        {% set size = gallerySize(loop.index) %}
                        {% set imageData = mediaData[mediaPost.media.id]|default() %}

                        <div class="col-xs-6 col-sm-6 col-md-4 col-lg-3 gallery-item js-gallery-photo-item">
                            <div class="gallery-photos-img-wrapper">
                                <a href="#" data-toggle="modal" data-target=".gallery-modal"
                                   data-position="{{ loop.index }}"
                                   data-url="{{ asset(mediaPost.media.file)|imagine_filter('gallery_post_full') }}"
                                   data-title="{{ imageData.title|default(post.title) }}"
                                   data-description="{{ imageData.description|default() }}"
                                   data-published="{{ mediaPost.media.created|date('Y-m-d H:i:s') }}"
                                   class="js-gallery-photo-data">

                                    <img src="{{ asset(mediaPost.media.file)|imagine_filter(size) }}"
                                         alt="{{ imageData.title|default(post.title) }}"
                                         class="img-fluid gallery-photos-img">
                                </a>

                                <div class="gallery-photos-img-data">
                                    {% if imageData and imageData.title is not empty %}
                                        <h3 class="gallery-photos-img-data-title js-gallery-photos-img-data-title">
                                            {{ imageData.title }}
                                        </h3>
                                    {% endif %}

                                    {% include 'includes/published.html.twig' with {
                                        published: mediaPost.media.created,
                                        options: {
                                            showIconDate: true,
                                            showTime: false,
                                            addClass: 'gallery-photos-img-data-published'
                                        }
                                    } only %}
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>

                {# Gallery modal. #}
                <div class="modal fade gallery-modal js-gallery-modal"
                     tabindex="-1"
                     role="dialog"
                     aria-labelledby="exampleModalLongTitle"
                     aria-hidden="true">

                    <button type="button" class="close gallery-modal-close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>

                    <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
                        <div class="modal-content">
                            <div class="modal-body">
                                <div class="modal-main">
                                    <img src="" class="gallery-modal-img js-gallery-modal-img" alt="">

                                    <div class="gallery-modal-nav-prev js-gallery-modal-nav-prev">
                                        <i class="fa fa-chevron-left" aria-hidden="true"></i>
                                    </div>

                                    <div class="gallery-modal-nav-next js-gallery-modal-nav-next">
                                        <i class="fa fa-chevron-right" aria-hidden="true"></i>
                                    </div>
                                </div>
                                <div class="modal-right">
                                    <div class="gallery-modal-published">
                                        {{ 'app.general.published_in'|trans }}

                                        <span class="js-gallery-modal-published">
                                            {# Initialized via JS. #}
                                        </span>
                                    </div>

                                    <h4 class="gallery-modal-title js-gallery-modal-title">
                                        {# Initialized via JS. #}
                                    </h4>

                                    <div class="gallery-modal-description js-gallery-modal-description">
                                        {# Initialized via JS. #}
                                    </div>

                                    <div class="js-gallery-modal-fb-comments">
                                        {# Initialized via JS. #}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    {% endif %}

    {% if showFBComments %}
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-md-12 mx-auto">
                    {% include 'includes/comments-facebook.html.twig' %}
                </div>
            </div>
        </div>
    {% endif %}

    {% include 'includes/see-more-posts.html.twig' with {posts: posts} only %}
{% endblock %}
